.flexbox {
    display: flex;
    height: 100px;
    justify-content: center;
    align-items: flex-end;
    flex-wrap: wrap;
}

.flexitem {
    width: 150px;
    height: 100px;
    border: 2px solid white;
    background-color: skyblue;
    font-size: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}