@charset "utf-8";

@font-face {
    font-family: 'NanumGothic';
    src: url(NanumGothic.ttf) format('truetype');
}

body {
    width: 480px;
    height: 800px;
    text-align: center;
    font-family: NanumGothic
}

img {
    width: 145px;
    height: 145px;
    border-radius: 50%;
}

.bigbox {
    width: 480px;
    height: 800px;
    background-color: rgb(255, 166, 166, 1);
    padding: 0px;
    position: relative;
    border-style: solid;
    border-color: rgb(187, 187, 187);
    border-width: 1px;
}

.line {
    width: 35px;
    position: relative;
    margin-left: auto;
    margin-right: auto;
}

.textbox {
    width: 350px;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    top: 190px;
    color: white;
    font-size: 18px;
}

.smallbox {
    width: 480px;
    height: 300px;
    background-color: rgba(255, 255, 255, 1);
    position: absolute;
    bottom: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.smallcircle {
    position: relative;
    top: 70px;
    width: 100px;
    height: 100px;
    font-size: 1em;
}

#icon {
    width: 54px;
    height: 54px;
}

.circlebox {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    top: 300px;
    font-size: 20px;
}