{% extends 'home.html' %}
{% block content %}
    <div class="afirst">
    <h1> 안암보도란? </h1>
    <p> 안암보도는 2019년 시작한 서비스입니다. </p>
    </div>
    <div class="asecond" style="border-bottom-style:solid; border-width:1px; border-color:lightgray; height:200px;">
    <h1> 그렇습니다 </h1>
    </div>
    <div class="athird" style="border-bottom-style:solid; border-width:1px; border-color:lightgray; height:200px;">
    <h1> 그렇습니다 </h1>
    </div>
    <div class="afourth" style="border-bottom-style:solid; border-width:1px; border-color:lightgray; height:200px;">
    <h1> 그렇습니다 </h1>
    </div>
{% endblock %}