@font-face {
    font-family: 'NanumGothic';
    src: url(NanumGothic.ttf) format('truetype');
    font-family: 'Daehan';
    src: url(대한뉴스L.otf) format('opentype');
    font-family: 'KCC';
    src: url(KCC-eunyoung.ttf) format('truetype');
}

.salut {
    font-family: 'Daehan';
    color: white;
    background-image: url('TunedIn_BooksfromtheBanner_large.jpg');
    text-align: center;
    height: 80px;
    margin-top: 0;
}

.next {
    position: relative;
    font-family: 'NanumGothic';
    text-align: center;
}

.artlist {
    position: relative;
}

.list {
    position: relative;
    top: 20px;
}

.title {
    font-family: 'KCC';
    font-size: 50px;
    position: relative;
    text-align: left; 
    left: 10px;
    top: 10px;
    color: white;
}

.hi {
    font-family: 'Daehan';
    text-align: center;
    display: flex;
    justify-content: space-around;
    width: 400px;
}

.halu {
    display: flex;
    justify-content: center;
    align-items: center;
}

.verline {
    border-right-width: 0.1em;
    border-right-style: solid;
    border-right-color: rgba(173, 173, 173, 0.541);
    position: relative;
    display: flex;
    align-content: center;
}

.mid {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

.item {
    display: flex;
    justify-content: left;
    flex-direction: row;
}

.container {
    display: flex;
    justify-content: space-between;
    margin-left: 0;
    margin-right: 0;
}