{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{% static 'base.css' %}?ver=1">
    <title>Document</title>
</head>
<body>
    <div class="navbar">
        <div class="navitem"><a href="{% url 'home' %}">HOME</a></div>
        {% if user.is_authenticated %}
            <div class="navitem"><strong>{{ user.username }}</strong>님 환영합니다!</div>
            <div class="navitem"><a href="{% url 'logout' %}">로그아웃</a></div>
        {% else %}
            <div class="navitem"><a href="{% url 'login' %}">로그인</a></div>
            <div class="navitem"><a href="{% url 'signup' %}">회원가입</a></div>
        {% endif %}
    </div>
    <h1>우리의 블로그</h1>
        {% block content %}
        <h2> 글 목록 </h2>
            {% for post in posts %}
            <li><a href="{% url 'detail' post.pk %}">{{ post.title }}</a></li><br>
            {% endfor %}
        <a href="{% url 'new' %}">글쓰기</a>
        {% endblock %}
</body>
</html>