{% extends 'home.html' %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    {% block content %}
    <h2>책 이름 : {{ post.title }}</h2>
    <h5>리뷰 내용 : {{ post.review }}</h5>
    <h5>가격 : {{ post.price }}</h5>
    <h5>점수 : {{ post.score }} / 5</h5>
    <a class='hi' href="{% url 'home' %}"><button type="button" class="btn btn-primary">글 목록으로 돌아가기</button></a><br><br>
    <a class='hi' href="{% url 'edit' post.pk %}"><button type="button" class="btn btn-success">수정하기</button></a><br><br>
    <a class='hi' href="{% url 'delete' post.pk %}"><button type="button" class="btn btn-danger">지워버린다</button></a>
    {% endblock %}
</body>
</html>