{% extends 'home.html' %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    {% block content %}
<div class="leftbar">
  <div class="imgline">
  <img src="{{ post.picture.url }}">
  </div>
</br>
    <h2 class="jumbotron-heading" style="font-family:'Daehan'"><strong>{{ post.title }}</strong></h2>
</br>
</div>
<div class="rightbar">
<hr width="350" color=lightgray>
    <h5 class="jumbotron-heading">가격 : {{ post.price }}</h5>
    <h5>　　　　</h5>
    <h5 class="jumbotron-heading">점수 : {{ post.score }} / 5</h5>
</br>
<hr width="350" color=lightgray>
</br>
    <div class="reviewline">
    <h5 class="jumbotron-heading">{{ post.review }}</h5>      
    </div>
</br>
</br>
</br>
    <div class='halu'>
    <div class='hi'>
      <a class='hey' href="{% url 'home' %}"><button type="button" class="btn btn-primary">글 목록</button></a><br><br>
      <a class='hey' href="{% url 'edit' post.pk %}"><button type="button" class="btn btn-success">수정하기</button></a><br><br>
      <a class='hey' href="{% url 'delete' post.pk %}"><button type="button" class="btn btn-danger">지우기</button></a>
    </div>
    </div>
<hr width="700" color=lightgray>
    <div class='commentline'>
    <ul>
      {% for comment in post.comments.all %}
        <li>{{ comment.comment }} <a href="{% url 'delete_comment' post.pk comment.pk %}" style="color:black"><i class="fas fa-times"></i></a></li>
      {% endfor %}
    </ul>
    </div>
    <form method="POST">
      <div class="comment">  
        {% csrf_token %}
        {{ form.as_p }}
        <div class="blank">
        </div>
        <button type="submit" class="btn btn-info">남기기</button>
      </div>
    </form>
    {% endblock %}
</div>
</body>
</html>